# dependencies
node_modules/

# build output
dist/
build/

# mac system files
.DS_Store

# IDE files
.idea/
.vscode/
*.iml

# environment files
.env*
!.env.example

# local deployment configuration
.openai/
